
<body id="page-top">
    <div id="wrapper">
        <!-- MENU -->

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
              <!-- NAV -->

                <div class="container-fluid">
                    <div class="row justify-content-md-center">
                        <div class="col-12">
                            <h1>Livros</h1>
                            <div>
                                <div class="card-group d-table">
                                    <!-- AQUI QUE VOU COMEÇAR O FOREACH -->
                                    <div class="card lista me-3" style="width: 15rem;">
                                        <a href="#"> <img src="assets/img/dogs/image2.jpeg" class="card-img-top" alt=""> </a>
                                        <div class="card-body">
                                            <h1 class="card-title">Não desista agora</h1>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Ano: 2017</small>
                                        </div>
                                      </div>
    
                                      <div class="card lista me-3" style="width: 15rem;">
                                        <a href="#"> <img src="assets/img/dogs/image2.jpeg" class="card-img-top" alt=""> </a>
                                        <div class="card-body">
                                            <h1 class="card-title">A culpa é das estrelas</h1>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Ano: 2017</small>
                                        </div>
                                      </div>
                                </div>
                                <!-- AQUI ACABA O FOREACH -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
</body>
<!-- FOOTER -->